body {
  font-family: 'Pacifico', cursive; }

.off h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.button button, .button--extend button {
  font-family: 'Pacifico', cursive; }

* {
  padding: 0%;
  margin: 0%; }

body {
  background-image: linear-gradient(to right, #ffe4e4, #ffecec, #f5f5dc); }

header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 3px, 6rem, 6rem; }

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 6rem); }

footer {
  display: flex;
  justify-content: start; }

.logo {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-left: 10px; }
  .logo img {
    height: 100px; }
    .logo img:hover {
      border: 4px solid #EEE8AA; }

.banner, .banner-var {
  display: flex;
  grid-column: 2/6;
  grid-row: 2/3;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }
  .banner h1, .banner-var h1 {
    margin: 10px;
    padding: 10px; }
    .banner h1 span, .banner-var h1 span {
      color: #ffc0cb;
      animation-name: title;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
      animation-duration: 2s;
      animation-delay: 1s; }

.login {
  display: flex;
  grid-column: 6;
  grid-row: 2;
  align-items: center;
  justify-content: center; }
  .login a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    border: 10px solid #ffc0cb;
    transition: 0.2s; }
    .login a:hover {
      background-color: #ffc0cb;
      color: #EEE8AA; }

.banner-var {
  grid-column: 1/7;
  grid-row: 1;
  background-color: #ffc0cb; }
  .banner-var p {
    color: #ffffff;
    font-size: 30px; }
    .banner-var p:hover {
      color: #000000; }

.nav {
  grid-column: 1/7;
  grid-row: 3;
  background-color: #ffc0cb;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px; }
  .nav ul {
    display: flex;
    list-style: none;
    margin: 5px;
    justify-content: space-evenly; }
    .nav ul li {
      background-color: #ffffff; }
      .nav ul li a {
        color: #000000;
        margin: 4px;
        padding: 4px;
        border: 2px ridge #000000;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.2s; }
        .nav ul li a:hover {
          margin: 10px;
          padding: 10px; }

.form-login {
  grid-column: 3/5;
  grid-row: 1; }
  .form-login form {
    display: block;
    text-align: center;
    font-size: 20px;
    border: 5px ridge #ffffff;
    background-color: #ffc0cb;
    padding: 3px; }
    .form-login form input {
      padding: 5px;
      border: 2px solid black; }

.login-img {
  display: block;
  text-align: center; }
  .login-img img {
    height: 200px;
    border: 10px ridge #ffffff;
    transition: 0.1s; }
    .login-img img:hover {
      border: 10px ridge #ffc0cb; }

.off {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/6;
  grid-row: 1/4;
  margin-top: 10px;
  background-color: #ffc0cb;
  border: 10px ridge #f5f5dc;
  background-image: linear-gradient(6deg #ffffff, #ffc0cb, #ffc0cb); }
  .off h2 {
    font-size: 80px; }

.button, .button--extend {
  display: flex;
  grid-column: 3/5;
  grid-row: 4;
  justify-content: center;
  align-items: center; }

.button--extend {
  margin: -50px; }
  .button--extend a {
    text-decoration: none;
    color: #000000; }

button {
  margin-top: 55px;
  margin-bottom: 50px;
  padding: 10px;
  border: 15px 15px ridge #ffc0cb;
  border-radius: 10px;
  background-color: #ffc0cb;
  transition: 0.3s; }
  button:hover {
    font-size: 20px; }

.carrusel {
  width: -50px;
  height: -50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: linear-gradient(354deg, #ffffff, #ffc0cb, #ffc0cb); }
  .carrusel img {
    height: 250px;
    margin-top: 40px;
    border: 7px ridge #f5f5dc;
    border-radius: 5px;
    box-shadow: 5px 2px;
    transition: 0.2s; }
    .carrusel img:hover {
      border: 8px ridge pink; }

.pie {
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(6deg, #ffffff, #ffc0cb, #ffc0cb); }
  .pie a img {
    height: 50px;
    transition: 0.2s; }
    .pie a img:hover {
      height: 60px; }

section h2 {
  display: block;
  text-align: center;
  margin: 10px;
  border: 20px ridge #ffc0cb; }

.cooming-soon {
  display: block;
  text-align: center;
  margin-top: 15px;
  background-image: linear-gradient(354deg, #ffffff, #ffc0cb, #ffc0cb); }
  .cooming-soon p {
    font-size: 150px; }

@keyframes title {
  0% {
    font-family: 'Courier New', Courier, monospace; }
  50% {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  100% {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; } }

@media screen and (max-width: 1100px) {
  header {
    grid-template-rows: 5rem; }
  .nav {
    grid-row: 1/2; }
  h1 {
    display: none; }
  h2 {
    text-align: center; }
  .carrusel {
    flex-direction: column; }
    .carrusel img {
      margin: 1%; }
  .button button, .button--extend button {
    margin-bottom: 50px; }
  .cooming-soon p {
    font-size: 100px; } }

@media screen and (max-width: 700px) {
  header {
    display: grid; }
  .button button, .button--extend button {
    margin-bottom: 50px; }
  .nav ul li {
    background-color: #ffc0cb; }
    .nav ul li a {
      background-color: #ffffff;
      font-size: 10px; }
  .cooming-soon p {
    font-size: 50px; } }
