* {
  padding: 0%;
  margin: 0%; }

body {
  background-image: linear-gradient(to right, #ffe4e4, #ffecec, beige); }

header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 5rem 5rem; }

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 6rem); }

footer {
  display: flex;
  justify-content: start;
  position: relative;
  top: 80px; }

body {
  font-family: 'Pacifico', cursive; }

.off h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.button button {
  font-family: 'Pacifico', cursive; }

@media screen and (max-width: 1000px) {
  header {
    grid-template-rows: 5rem; }
  .nav {
    grid-row: 1/2; }
  h1 {
    display: none; }
  .carrusel {
    flex-direction: column; }
    .carrusel img {
      margin: 1%; }
  .button button {
    margin-bottom: 50px; } }

@media screen and (max-width: 660px) {
  header {
    display: grid; }
  .button button {
    margin-bottom: 50px; }
  .nav ul li {
    background-color: #ffc0cb; }
    .nav ul li a {
      background-color: #ffffff;
      font-size: 10px; } }

body {
  font-family: 'Pacifico', cursive; }

.off h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.button button {
  font-family: 'Pacifico', cursive; }

.banner {
  display: flex;
  grid-column: 2/6;
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }
  .banner h1 {
    margin: 10px;
    padding: 10px; }
    .banner h1 span {
      color: #ffc0cb;
      animation-name: title;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
      animation-duration: 2s;
      animation-delay: 1s; }

.nav {
  grid-column: 1/20;
  grid-row: 2/3;
  background-color: #ffc0cb;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px; }
  .nav ul {
    display: flex;
    list-style: none;
    margin: 5px;
    justify-content: space-evenly; }
    .nav ul li {
      background-color: #ffffff; }
      .nav ul li a {
        color: #000000;
        margin: 4px;
        padding: 4px;
        border: 2px solid #000000;
        border-radius: 10px;
        text-decoration: none; }
        .nav ul li a:hover {
          margin: 10px;
          padding: 10px; }

.off {
  display: flex;
  background-color: #ffc0cb;
  border: 10px ridge #f5f5dc;
  margin-top: 30px;
  grid-column: 2/6;
  grid-row: 1/3;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(6deg #ffffff, #ffc0cb, #ffc0cb); }
  .off h2 {
    font-size: 70px; }

.button {
  display: flex;
  grid-column: 3/5;
  grid-row: 3;
  justify-content: center;
  align-items: center; }

button {
  margin-top: 55px;
  margin-bottom: 50px;
  padding: 10px;
  border: 15px 15px ridge #ffc0cb;
  border-radius: 20px;
  background-color: #ffc0cb;
  transition: 0.3s; }
  button:hover {
    font-size: 20px; }

.carrusel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: linear-gradient(354deg, #ffffff, #ffc0cb, #ffc0cb); }
  .carrusel img {
    height: 250px;
    margin-top: 40px;
    border: 10px ridge #f5f5dc;
    border-radius: 32px;
    box-shadow: 5px 2px;
    transition: border 0.2s; }
    .carrusel img:hover {
      border: 12px ridge pink; }

.pie {
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(6deg, #ffffff, #ffc0cb, #ffc0cb); }
  .pie a img {
    height: 50px;
    transition: 0.2s; }
    .pie a img:hover {
      height: 60px; }

@keyframes title {
  0% {
    font-family: 'Courier New', Courier, monospace; }
  50% {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  100% {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; } }
