* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: linear-gradient(to right,rgb(255, 228, 228),rgb(255, 236, 236),beige);
}

header {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 5rem 5rem;
}

main {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,6rem);
}

footer {
    display: flex;
    justify-content: start;
    position: relative;
    top: 80px;
}