@import "colors";
@import "fonts";

@media screen and (max-width:1000px) {
    header {
        grid-template-rows: 5rem;
    }

    .nav {
        grid-row: 1/2;
    }
    
    h1 {
        display: none;
    }

    .carrusel {
    flex-direction: column;
        img {
        margin: 1%;
        }
    }

    .button {
        button {
        margin-bottom: 50px;
        }
    }
}

@media screen and (max-width:660px) {
    header {
        display: grid;
    }

    .button {
        button {
        margin-bottom: 50px; 
        }
    }

    .nav {
        ul {
            li {
                background-color: $color_main;
                a {
                    background-color: $all_color;
                    font-size: 10px;
                }
            }
        }
    }
}