@import "colors";
@import "fonts";

// MAPS

$button: (
    medida1: 55px,
    medida2: 50px,
    color1: $color_main,
    color2: $color_second,
);

// MIXIN

@mixin achicar {
    width: -50px;
    height: -50px;
}

// ESTRUCTURA

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: linear-gradient(to right,rgb(255, 228, 228),rgb(255, 236, 236),$color_second);
}

header {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: (3px, 6rem, 6rem);
}

main {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,6rem);
}

footer {
    display: flex;
    justify-content: start;
}

// ESTILOS

.logo {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-left: 10px;
    img {
        height: 100px;
        &:hover {
            border: 4px solid $gold;
        }
    }
}

.banner {
    display: flex;
    grid-column: 2/6;
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    h1 {
        margin: 10px;
        padding: 10px;
        span {
            color: $color_main;
            animation-name: title;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-duration: 2s;
            animation-delay: 1s;
        }
    }
}

.login {
    display: flex;
    grid-column: 6;
    grid-row: 2;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
        color: $no_color;
        padding: 10px;
        border: 10px solid $color_main;
        transition: 0.2s;
        &:hover {
            background-color: $color_main;
            color: $gold;
        }
    }
}

.banner-var {
    @extend .banner;
    grid-column: 1/7;
    grid-row: 1;
    background-color: $color_main;
    p {
        color: $all_color;
        font-size: 30px;
        &:hover {
            color: $no_color;
        }

    }
}
.nav {
    grid-column: 1/7;
    grid-row: 3;
    background-color: $color_main;
    margin: 10px;
    padding: 10px;
    border: 1px solid $no_color;
    border-radius: 5px;
    ul {
        display: flex;
        list-style: none;
        margin: 5px;
        justify-content: space-evenly;
        li {
            background-color: $all_color;
            a {
                color: $no_color;
                margin: 4px;
                padding: 4px;
                border: 2px ridge $no_color;
                border-radius: 5px;
                text-decoration: none;
                transition: 0.2s;
                &:hover {
                    margin: 10px;
                    padding: 10px;
                }
            }
        }
    }
}

.form-login {
    grid-column: 3/5;
    grid-row: 1;
    form {
        display: block;
        text-align: center;
        font-size: 20px;
        border: 5px ridge $all_color;
        background-color: $color_main;
        padding: 3px;
        input {
            padding: 5px;
            border: 2px solid black;
        }
    }
}

.login-img {
    display: block;
    text-align: center;
    img {
        height: 200px;
        border: 10px ridge $all_color;
        transition: 0.1s;
        &:hover {
            border: 10px ridge $color_main;
        }
    }
}

.off {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/6;
    grid-row: 1/4;
    margin-top: 10px;
    background-color: $color_main;
    border: 10px ridge $color_second;
    background-image: linear-gradient(6deg $all_color,$color_main,$color_main);
    h2 {
        font-size: 80px;
    }
}

.button {
    display: flex;
    grid-column: 3/5;
    grid-row: 4;
    justify-content: center;
    align-items: center;
}

.button--extend {
    @extend .button;
    margin: -50px;
    a {
        text-decoration: none;
        color: $no_color;
    }
}

button {
    margin-top: map-get($button, medida1);
    margin-bottom: map-get($button, medida2);
    padding: 10px;
    border: 15px 15px ridge $color_main;
    border-radius: 10px;
    background-color: map-get($button, color1);
    transition: 0.3s;
    &:hover {
        font-size: 20px;
    }
}

.carrusel {
    @include achicar;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(354deg,$all_color,$color_main,$color_main);
    img {
        height: 250px;
        margin-top: 40px;
        border: 7px ridge $color_second;
        border-radius: 5px;
        box-shadow: 5px 2px;
        transition: 0.2s;
        &:hover {
            border: 8px ridge pink;
        }
    }
}

.pie {
    border: 2px solid $no_color;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(6deg,$all_color,$color_main,$color_main);
    a {
        img {
            height: 50px;
            transition: 0.2s;
            &:hover {
                height: 60px;
            }
        }
    }
}

section {
    h2 {
        display: block;
        text-align: center;
        margin: 10px;
        border: 20px ridge $color_main;
    }
}

.cooming-soon {
    display: block;
    text-align: center;
    margin-top: 15px;
    background-image: linear-gradient(354deg,$all_color,$color_main,$color_main);
    p {
        font-size: 150px;
    }
}

// ANIMACIONES

@keyframes title {
    0% {font-family: 'Courier New', Courier, monospace; }
    50% {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    100% {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
}

// MEDIA

@media screen and (max-width:1100px) {
    header {
        grid-template-rows: 5rem;
    }

    .nav {
        grid-row: 1/2;
    }
    
    h1 {
        display: none;
    }

    h2 {
        text-align: center;
    }

    .carrusel {
        flex-direction: column;
        img {
            margin: 1%;
        }
    }

    .button {
        button {
            margin-bottom: 50px;
        }
    }

    .cooming-soon {
        p {
            font-size: 100px;
        }
    }
}

@media screen and (max-width:700px) {
    header {
        display: grid;
    }

    .button {
        button {
            margin-bottom: 50px; 
        }
    }

    .nav {
        ul {
            li {
                background-color: $color_main;
                a {
                    background-color: $all_color;
                    font-size: 10px;
                }
            }
        }
    }

    .cooming-soon {
        p {
            font-size: 50px;
        }
    }   
}

@media screen and (max-width:460px) {

}