@import "estructura";
@import "media";
@import "colors";
@import "fonts";

.banner {
    display: flex;
    grid-column: 2/6;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    h1 {
        margin: 10px;
        padding: 10px;
        span {
            color:$color_main;
            animation-name: title;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-duration: 2s;
            animation-delay: 1s;
        }
    }
}

.nav {
    grid-column: 1/20;
    grid-row: 2/3;
    background-color: $color_main;
    margin: 10px;
    padding: 10px;
    border: 1px solid $no_color;
    border-radius: 10px;
    ul {
        display: flex;
        list-style: none;
        margin: 5px;
        justify-content: space-evenly;
        li {
            background-color: $all_color;
            a {
                color: $no_color;
                margin: 4px;
                padding: 4px;
                border: 2px solid $no_color;
                border-radius: 10px;
                text-decoration: none;
                &:hover {
                    margin: 10px;
                    padding: 10px;
                }
            }
        }
    }
}

.off {
    display: flex;
    background-color: $color_main;
    border: 10px ridge $color_second;
    margin-top: 30px;
    grid-column: 2/6;
    grid-row: 1/3;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(6deg $all_color,$color_main,$color_main);
    h2 {
        font-size: 70px;
    }
}

.button {
    display: flex;
    grid-column: 3/5;
    grid-row: 3;
    justify-content: center;
    align-items: center;
}   button {
    margin-top: 55px;
    margin-bottom: 50px;
    padding: 10px;
    border: 15px 15px ridge $color_main;
    border-radius: 20px;
    background-color: $color_main;
    transition: 0.3s;
    &:hover {
        font-size: 20px;
    }
}

.carrusel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(354deg,$all_color,$color_main,$color_main);
    img {
        height: 250px;
        margin-top: 40px;
        border: 10px ridge $color_second;
        border-radius: 32px;
        box-shadow: 5px 2px;
        transition: border 0.2s;
        &:hover {
            border: 12px ridge pink;
        }
    }
}

.pie {
    border: 2px solid $no_color;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(6deg,$all_color,$color_main,$color_main);
    a {
        img {
            height: 50px;
            transition: 0.2s;
            &:hover {
                height: 60px;
            }
        }
    }
}

@keyframes title {
    0% {font-family: 'Courier New', Courier, monospace; }
    50% {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    100% {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
}